<!--游戏集合的菜单页面-->
<div class="panel-group" id="gameList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseOne">算点数</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p>输入1-13范围内的有效数值，通过加减乘除运算，判断是否可以得到目标点数，若有解，则给出表达式。</p>
        <a href="javascript:;" ng-click="jump('/point')">游戏试玩</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseTwo">2048</a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>2048,有待添加到合集中</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseThree">飞机大战</a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>飞机大战,有待添加到合集中</p>
      </div>
    </div>
  </div>
</div>




